.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 20px;
  height: var(--header__height);
}

.header__left img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__middle {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

.header__middle .MuiSvgIcon-root {
  color: grey;
}

.header__middle input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: medium;
  background-color: transparent;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__right .MuiAvatar-root {
  margin: 10px;
}

/* SIDEBAR STUFF */

.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}

.sidebar__compose {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: unset !important;
  gap: 5px;
  margin-top: 15px !important;
  margin-left: 10px !important;
  margin-bottom: 15px !important;
  color: gray !important;
  padding: 15px !important;
  border-radius: 30px !important;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  background-color: #d8d8d8;
  text-transform: capitalize !important;
}

.sidebar__compose:hover {
  color: gray !important;
}

.sidebar__compose .MuiButton-startIcon {
  margin: 0;
}

/* SIDEBAR OPTION STUFF */

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover p,
.sidebarOption--active,
.sidebarOption--active h3,
.sidebarOption--active p {
  background-color: #fcecec;
  color: #c04b37 !important;
  font-weight: 800 !important;
}

.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebarOption h3 {
  font-size: 14px;
  flex: 1;
  margin-left: 10px;
  font-weight: 400;
}
.sidebarOption p {
  display: none;
  font-weight: 300;
}
.sidebarOption:hover p {
  display: inline;
}

.sidebarOption--active p {
  display: inline !important;
}

/* SIDEBAR FOOTER STUFF */

.sidebar__footer {
  display: flex;
  justify-content: center;
}

.sidebar__footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* EMAIL ROW STUFF */

.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
  transition: all 100ms ease;
}

.emailRow:hover {
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__options {
  display: flex;
}

.emailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 14px;
}

.emailRow__message h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
  font-weight: 700 !important;
}

.emailRow__title {
  font-size: 15px;
  flex: 0.3;
  font-weight: 900 !important;
}
.emailRow__time {
  padding-right: 15px;
  font-size: 11px;
  font-weight: bold;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
  font-size: 12px;
  margin-left: 5px;
}

/* SEND MAIL */

.sendMail {
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: #303030;
  width: 40%;
  max-width: 500px;
  height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1ps solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  color: gray;
}

.sendMail__header h3 {
  color: whitesmoke;
  font-size: 13px;
}

.sendMail__send {
  background-color: #3079ed !important;
  text-transform: capitalize !important;
  margin: 15px !important;
  color: white !important;
}

.sendMail__close {
  cursor: pointer;
}

.sendMail form {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sendMail form input {
  padding: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid whitesmoke;
}

.sendMail__message {
  flex: 1;
}

.sendMail__error {
  background-color: white;
  color: red;
  text-align: right;
  padding: 2px;
}